/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  margin: 0;
}

.scoreboard {
}

svg {
  border:5px solid black;
}

image {
    -webkit-animation:spin 2s linear infinite;
    transform-origin: 50% 50%;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

